%script
  $('#openURs a').click(function (e) {
  e.preventDefault()
  $(this).tab('show')
  })

  $(function () {
  $('[data-toggle="tooltip"]').tooltip()
  })
%ul.nav.nav-tabs{ 'role' => 'tablist'}
  %li.active{ 'role' => 'presentation' }
    %a{ :href => "#openURs", 'aria-controls' => "openURs", 'role' => "tab", 'data-toggle' => "tab" }
      = t('ur-open')
      %span.badge= area.urs.abertas.count
  %li{ 'role' => 'presentation' }
    %a{ :href => "#closedURs", 'aria-controls' => "closedURs", 'role' => "tab", 'data-toggle' => "tab" }
      = t('ur-closed')
      %span.badge= area.urs.encerradas.count
  %li{ 'role' => 'presentation' }
    %a{ :href => "#mps", 'aria-controls' => "mps", 'role' => "tab", 'data-toggle' => "tab" }
      MPs
      %span.badge= area.mps.abertas.count
  %li{ 'role' => 'presentation'}
    %a{ :href => "#pus", 'aria-controls' => "pus", 'role' => "tab", 'data-toggle' => "tab"  }
      PUs
      %span.badge= area.pus.editaveis.count
.tab-content
  #openURs.tab-pane.active.fade.in{ 'role' => 'tabpanel'}
    .row
      .col-sm-3.col-sm-offset-3.col-md-3.col-md-offset-9.col-lg-3.col-lg-offset-9
        %span.text-right.small= "#{t('updated-at')} #{@atu_ur.data.strftime('%d/%m/%Y %H:%M')}"
    .panel.panel-primary
      .panel-heading= t('ur-without-comments')
      .panel-body
        - area.urs.abertas.sem_comentarios.order(:data_abertura).each do |u|
          %a.btn.btn-sm{ 'style' => "margin-top: 5px;", :class => "#{(Time.now - u.data_abertura) < 172800 ? 'btn-success' : ((Time.now - u.data_abertura) < 1209600 ? 'btn-warning' : 'btn-danger')}", :href => "#{cookies[:wme_url].nil? ? 'https://www.waze.com/' : cookies[:wme_url]}#{cookies[:wme_language].nil? ? 'pt-BR/' : cookies[:wme_language]}editor/?zoom=5\&lat=#{u.latitude}\&lon=#{u.longitude}\&mapUpdateRequest=#{u.id}", 'data-toggle' => 'tooltip', 'data-placement' => 'top', 'title' => "#{tipo_ur(u.tipo)}", :target => "WME"}
            %i{'class' => "fa #{icone_ur(u.tipo)}", 'aria-hidden' => 'true'}
            = u.id
    .panel.panel-primary
      .panel-heading= t('ur-with-answer')
      .panel-body
        - area.urs.abertas.com_resposta.order(:data_ultimo_comentario).each do |u|
          %a.btn.btn-sm{ 'style' => "margin-top: 5px;", :class => "#{(Time.now - u.data_ultimo_comentario) < 172800 ? 'btn-success' : ((Time.now - u.data_ultimo_comentario) < 1209600 ? 'btn-warning' : 'btn-danger')}", :href => "#{cookies[:wme_url].nil? ? 'https://www.waze.com/' : cookies[:wme_url]}#{cookies[:wme_language].nil? ? 'pt-BR/' : cookies[:wme_language]}editor/?zoom=5\&lat=#{u.latitude}\&lon=#{u.longitude}\&mapUpdateRequest=#{u.id}", 'data-toggle' => 'tooltip', 'data-placement' => 'top', 'title' => "#{tipo_ur(u.tipo)}", :target => "WME"}
            %i{'class' => "fa #{icone_ur(u.tipo)}", 'aria-hidden' => 'true'}
            = u.id
            %br
            %small= "#{u.comentarios} #{u.comentarios == 1 ? t('comment') : t('comments')}"
    .panel.panel-primary
      .panel-heading= t('ur-awaiting-answer')
      .panel-body
        - area.urs.abertas.sem_resposta.order("comentarios desc, data_ultimo_comentario").each do |u|
          %a.btn.btn-sm{ 'style' => "margin-top: 5px;", :class => "#{(Time.now - u.data_ultimo_comentario) < 172800 ? 'btn-success' : ((Time.now - u.data_ultimo_comentario) < 1209600 ? 'btn-warning' : 'btn-danger')}", :href => "#{cookies[:wme_url].nil? ? 'https://www.waze.com/' : cookies[:wme_url]}#{cookies[:wme_language].nil? ? 'pt-BR/' : cookies[:wme_language]}editor/?zoom=5\&lat=#{u.latitude}\&lon=#{u.longitude}\&mapUpdateRequest=#{u.id}", 'data-toggle' => 'tooltip', 'data-placement' => 'top', 'title' => "#{tipo_ur(u.tipo)}", :target => "WME"}
            %i{'class' => "fa #{icone_ur(u.tipo)}", 'aria-hidden' => 'true'}
            = u.id
            %br
            %small= "#{u.comentarios} #{u.comentarios == 1 ? t('comment') : t('comments')}"
  #closedURs.tab-pane.fade{ 'role' => 'tabpanel' }
    .row
      .col-sm-3.col-sm-offset-3.col-md-3.col-md-offset-9.col-lg-3.col-lg-offset-9
        %span.text-right.small= "#{t('updated-at')} #{@atu_ur.data.strftime('%d/%m/%Y %H:%M')}"
    %table.table.table-hover{:border => '0', :cellspacing => '1', :cellpadding => '2', :width => '100%'}
      %tr
        %th= t('date')
        %th= t('editor')
        %th= t('solution')
        %th= t('last_comment')
      - area.urs.encerradas.order("resolvida_em desc").each do |u|
        %tr{ :class => "closed#{(' alert' if (false && u.resolucao == 1 && (u.resolvida_em - u.data_ultimo_comentario) < 172800))}"}
          %td{:align => 'center'}= u.resolvida_em.strftime('%d/%m/%Y %H:%M')
          %td
            - if not u.operador.nil?
              %a{:href => "#{cookies[:wme_url].nil? ? 'https://www.waze.com/' : cookies[:wme_url]}#{cookies[:wme_language].nil? ? 'pt-BR/' : cookies[:wme_language]}editor/?zoom=5\&lat=#{u.latitude}\&lon=#{u.longitude}\&mapUpdateRequest=#{u.id}", :target => "WME"}
                = "#{u.operador.username} (#{u.operador.rank})"
          %td{:align => 'center'}= (u.resolucao == 0 ? t('ur-result-solved') : t('ur-result-ni'))
          %td
            - if u.comentarios > 0
              %strong= "#{u.comentarista.username} (#{u.comentarista.rank})" if not u.comentarista.nil?
              = u.ultimo_comentario
  #mps.tab-pane.fade{ 'role' => 'tabpanel' }
    .row
      .col-sm-3.col-sm-offset-3.col-md-3.col-md-offset-9.col-lg-3.col-lg-offset-9
        %span.text-right.small= "#{t('updated-at')} #{@atu_ur.data.strftime('%d/%m/%Y %H:%M')}"
    .panel.panel-primary
      .panel-heading= t('mps')
      .panel-body
        - area.mps.abertas.order("peso desc").each do |m|
          %a.btn.btn-sm{ 'style' => "margin-top: 5px;", :class => "#{m.peso < 4 ? 'btn-success' : (m.peso < 8 ? 'btn-warning' : 'btn-danger')}", :href => "#{cookies[:wme_url].nil? ? 'https://www.waze.com/' : cookies[:wme_url]}#{cookies[:wme_language].nil? ? 'pt-BR/' : cookies[:wme_language]}editor/?zoom=5\&lat=#{m.latitude}\&lon=#{m.longitude}\&mapProblem=#{m.id}", 'data-toggle' => 'tooltip', 'data-placement' => 'top', 'title' => "#{tipo_mp(m.tipo)}", :target => "WME"}= m.id
  #pus.tab-pane.fade{ 'role' => 'tabpanel' }
    .row
      .col-sm-3.col-sm-offset-3.col-md-3.col-md-offset-9.col-lg-3.col-lg-offset-9
        %span.text-right.small= "#{t('updated-at')} #{@atu_pu.data.strftime('%d/%m/%Y %H:%M')}"
    .panel.panel-primary
      .panel-heading= t('pus')
      .panel-body
        - area.pus.editaveis.order("data_criacao").each do |p|
          %a.btn.btn-sm{ 'style' => "margin-top: 5px;", :class => "#{(Time.now - p.data_criacao) < 172800 ? 'btn-success' : ((Time.now - p.data_criacao) < 1209600 ? 'btn-warning' : 'btn-danger')}", :href => "#{cookies[:wme_url].nil? ? 'https://www.waze.com/' : cookies[:wme_url]}#{cookies[:wme_language].nil? ? 'pt-BR/' : cookies[:wme_language]}editor/?zoom=5\&lat=#{p.latitude}\&lon=#{p.longitude}\&showpur=#{p.id}\&endshow", 'data-toggle' => 'tooltip', 'data-placement' => 'top', 'title' => "#{tipo_pu(p.tipo,p.subtipo)}", :target => "WME"}
            - if p.categoria == 'RESIDENCE_HOME'
              %i.fa.fa-home{'aria-hidden' => 'true'}
            - if p.categoria == 'PARKING_LOT'
              %i.fa.fa-car{'aria-hidden' => 'true'}
            %i{'class' => "fa #{icone_pu(p.tipo,p.subtipo)}", 'aria-hidden' => 'true'}
            = (p.nome_local.nil? or p.nome_local.strip.empty? ? "[#{t('noname')}]": p.nome_local)
