/ Mapa do Brasil mapeado em CSS ( https://github.com/insign/mapa_Brasil_CSS )
/ - Arquivos fontes em alta resolucao e mapa em SVG via https://commons.wikimedia.org/wiki/File:Brazil_Blank_Map_light.svg
/ - Arquivos finais em 16 cores e extremamente leve
/ - Sprite em 16 cores e criado via http://css.spritegen.com
/ - Ao mudar o tamanho, infelizmente as regras de "margin" das tags ul e li deverao ser reescritas manualmente
/ Changelog:
/ 	* 23/07/2012 - Arquivos em alta resolucao e sprite por Helio Oliveira <insign@gmail.com>
/     * Criado por @rafaelpvale http://www.upalele.com
/     * Tecnica desenvolvida por Roman Cortes
/     http://www.romancortes.com/blog/xhtmlcss-mapmapa/
!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml"}
 %head
  %meta{ 'http-equiv' => "Content-Type", :content => "text/html; charset=utf-8" }
  %title Waze Brasil - Painel de Controle
  %link{ :rel => "stylesheet", :href => "mapa.css" }
  %link{ :rel => "stylesheet", :href => "waze.css" }
  %meta{ :name => "viewport", :content => "width=device-width; initial-scale=1.0; maximum-scale=1.0;" }
 %body
  %div.container
   %div.header
    %h1 Waze Brasil - Painel de Controle
   %div.mapa
    %ul#map
     %li#crs{ :estado => "rs"}
      %a#rs{ :href => "/RS", :title => "RS"}
       %img{ :src => "img/null.gif", :alt => "Rio Grande do Sul"}
     %li#csc{ :estado => "sc"}
      %a#sc{ :href => "/SC", :title => "SC"}
       %img{ :src => "img/null.gif", :alt => "Santa Catarina" }
     %li#cpr{ :estado => "pr"}
      %a#pr{ :href => "/PR", :title => "PR"}
       %img{ :src => "img/null.gif", :alt => "Parana" }
     %li#csp{ :estado => "sp"}
      %a#sp{ :href => "/SP", :title => "SP"}
       %img{ :src => "img/null.gif", :alt => "Sao Paulo" }
     %li#cms{ :estado => "ms"}
      %a#ms{ :href => "/MS", :title => "MS"}
       %img{ :src => "img/null.gif", :alt => "Mato Grosso do Sul" }
     %li#crj{ :estado => "rj"}
      %a#rj{ :href => "/RJ", :title => "RJ"}
       %img{ :src => "img/null.gif", :alt => "RJ" }
     %li#ces{ :estado => "es"}
      %a#es{ :href => "/ES", :title => "ES"}
       %img{ :src => "img/null.gif", :alt => "ES" }
     %li#cmg{ :estado => "mg"}
      %a#mg{ :href => "/MG", :title => "MG"}
       %img{ :src => "img/null.gif", :alt => "MG" }
     %li#cgo{ :estado => "go"}
      %a#go{ :href => "/GO", :title => "GO"}
       %img{ :src => "img/null.gif", :alt => "GO" }
     %li#cdf{ :estado => "df"}
      %a#df{ :href => "/DF", :title => "DF"}
       %img{ :src => "img/null.gif", :alt => "DF" }
     %li#cba{ :estado => "ba"}
      %a#ba{ :href => "/BA", :title => "BA"}
       %img{ :src => "img/null.gif", :alt => "BA" }
     %li#cmt{ :estado => "mt"}
      %a#mt{ :href => "/MT", :title => "MT"}
       %img{ :src => "img/null.gif", :alt => "MT" }
     %li#cro{ :estado => "ro"}
      %a#ro{ :href => "/RO", :title => "RO"}
       %img{ :src => "img/null.gif", :alt => "RO" }
     %li#cac{ :estado => "ac"}
      %a#ac{ :href => "/AC", :title => "AC"}
       %img{ :src => "img/null.gif", :alt => "AC" }
     %li#cam{ :estado => "am"}
      %a#am{ :href => "/AM", :title => "AM"}
       %img{ :src => "img/null.gif", :alt => "AM" }
     %li#crr{ :estado => "rr"}
      %a#rr{ :href => "/RR", :title => "RR"}
       %img{ :src => "img/null.gif", :alt => "RR" }
     %li#cpa{ :estado => "pa"}
      %a#pa{ :href => "/PA", :title => "PA"}
       %img{ :src => "img/null.gif", :alt => "PA" }
     %li#cap{ :estado => "ap"}
      %a#ap{ :href => "/AP", :title => "AP"}
       %img{ :src => "img/null.gif", :alt => "AP" }
     %li#cma{ :estado => "ma"}
      %a#ma{ :href => "/MA", :title => "MA"}
       %img{ :src => "img/null.gif", :alt => "MA" }
     %li#cto{ :estado => "to"}
      %a#to{ :href => "/TO", :title => "TO"}
       %img{ :src => "img/null.gif", :alt => "TO" }
     %li#cse{ :estado => "se"}
      %a#se{ :href => "/SE", :title => "SE"}
       %img{ :src => "img/null.gif", :alt => "SE" }
     %li#cal{ :estado => "al"}
      %a#al{ :href => "/AL", :title => "AL"}
       %img{ :src => "img/null.gif", :alt => "AL" }
     %li#cpe{ :estado => "pe"}
      %a#pe{ :href => "/PE", :title => "PE"}
       %img{ :src => "img/null.gif", :alt => "PE" }
     %li#cpb{ :estado => "pb"}
      %a#pb{ :href => "/PB", :title => "PB"}
       %img{ :src => "img/null.gif", :alt => "PB" }
     %li#crn{ :estado => "rn"}
      %a#rn{ :href => "/RN", :title => "RN"}
       %img{ :src => "img/null.gif", :alt => "RN" }
     %li#cce{ :estado => "ce"}
      %a#ce{ :href => "/CE", :title => "CE"}
       %img{ :src => "img/null.gif", :alt => "CE" }
     %li#cpi{ :estado => "pi"}
      %a#pi{ :href => "/PI", :title => "PI"}
       %img{ :src => "img/null.gif", :alt => "PI" }
   %div.resumo
    %div.info
     %div.info_header
      %img{ :src => "img/ur.png" }
      %span User Requests (UR)
     %table{ :width => "100%" }
      %tr
       %td Sem coment&aacute;rios
       %td.numero= @ur.abertas.sem_comentarios.count
      %tr
       %td Com resposta
       %td.numero= @ur.abertas.com_resposta.count
      %tr
       %td Aguardando resposta
       %td.numero= @ur.abertas.sem_resposta.count
      %tr.total
       %td Total
       %td.numero= @ur.abertas.count
    %div{ :clear => "both" }
    %div.info
     %div.info_header
      %img{ :src => "img/mp.png" }
      %span Map Problems (MP)
     %table{ :width => "100%" }
      %tr.total
       %td Total
       %td.numero= @mp.count
    %div{ :clear => "both" }
    %div.info
     %div.info_header
      %img{ :src => "img/pu.png" }
      %span Place Updates (PU)
     %table{ :width => "100%" }
      %tr
       %td Pendentes
       %td.numero= @pu.editaveis.count
      %tr
       %td Bloqueados (staff)
       %td.numero= @pu.bloqueados.count
      %tr.total
       %td Total
       %td.numero= @pu.count
    %div{ :clear => "both" }
