- cache [@atu_ur, @atu_pu] do
 / Mapa do Brasil mapeado em CSS ( https://github.com/insign/mapa_Brasil_CSS )
 / - Arquivos fontes em alta resolucao e mapa em SVG via https://commons.wikimedia.org/wiki/File:Brazil_Blank_Map_light.svg
 / - Arquivos finais em 16 cores e extremamente leve
 / - Sprite em 16 cores e criado via http://css.spritegen.com
 / - Ao mudar o tamanho, infelizmente as regras de "margin" das tags ul e li deverao ser reescritas manualmente
 / Changelog:
 / 	* 23/07/2012 - Arquivos em alta resolucao e sprite por Helio Oliveira <insign@gmail.com>
 /     * Criado por @rafaelpvale http://www.upalele.com
 /     * Tecnica desenvolvida por Roman Cortes
 /     http://www.romancortes.com/blog/xhtmlcss-mapmapa/   
 %div.container
  %div.header
   %h1 Waze Brasil - Painel de Controle
  %div.mapa
   = render partial: 'mapa'
  %div.resumo
   %div.info
    %div.info_header
     %img{ :src => "#{asset_path 'ur.png'}" }
     %span User Requests (UR)
    %table{ :width => "100%" }
     %tr
      %td Sem coment&aacute;rios
      %td.numero= @ur.abertas.sem_comentarios.count
     %tr
      %td Com resposta
      %td.numero= @ur.abertas.com_resposta.count
     %tr
      %td Aguardando resposta
      %td.numero= @ur.abertas.sem_resposta.count
     %tr.total
      %td Total
      %td.numero= @ur.abertas.count
   %div{ :clear => "both" }
   %div.info
    %div.info_header
     %img{ :src => "#{asset_path 'mp.png'}" }
     %span Map Problems (MP)
    %table{ :width => "100%" }
     %tr.total
      %td Total
      %td.numero= @mp.count
   %div{ :clear => "both" }
   %div.info
    %div.info_header
     %img{ :src => "#{asset_path 'pu.png'}" }
     %span Place Updates (PU)
    %table{ :width => "100%" }
     %tr
      %td Pendentes
      %td.numero= @pu.editaveis.count
     %tr
      %td Bloqueados (staff)
      %td.numero= @pu.bloqueados.count
     %tr.total
      %td Total
      %td.numero= @pu.count
   %div{ :clear => "both" }
