%script $(document).ready(function(){$(".pu_header").click(function(){$(".pus").toggle();});});
%script $(document).ready(function(){$(".mp_header").click(function(){$(".mps").toggle();});});
- cache [@mr,@atu_ur,@atu_pu] do
 %div.links
  %a{:href => "/regiao/#{@mr.regiaoid}"} Regi&atilde;o
  |
  %a{:href => "/#{@mr.regiao.estado.sigla}"} Estado
  |
  %a{:href => "/"} P&aacute;gina inicial
 %h1{:align => 'center'}= @mr.regiao.estado.nm_estado
 %h3{:align => 'center'}= "#{@mr.regiao.nm_meso} / #{@mr.nm_micro}"
 %div.regioes{:align => "center"}
  - @mr.municipios.order("nm_municip").each do |r|
   %div.regiao
    %a{:href => "/municipio/#{r.cd_geocmu}"}= r.nm_municip
 %div{:clear => "both"}
 = render partial: 'dados', locals: {area: @mr}