%script $(document).ready(function(){$(".pu_header").click(function(){$(".pus").toggle();});});
%script $(document).ready(function(){$(".mp_header").click(function(){$(".mps").toggle();});});
- cache [@mu.urs.count,@atu_ur.data,@atu_pu.data] do
 %div.links
  %a{:href => "/microrregiao/#{@mu.microrregiaoid}"} Microrregi&atilde;o
  |
  %a{:href => "/regiao/#{@mu.microrregiao.regiaoid}"} Regi&atilde;o
  |
  %a{:href => "/#{@mu.microrregiao.regiao.estado.sigla}"} Estado
  |
  %a{:href => "/"} P&aacute;gina inicial
 %h1{:align => 'center'}= @mu.microrregiao.regiao.estado.nm_estado
 %h3{:align => 'center'}= "#{@mu.microrregiao.regiao.nm_meso} / #{@mu.microrregiao.nm_micro} / #{@mu.nm_municip}"
 = render partial: 'dados', locals: {area: @mu}
