- cache [@places.size, @atu_pu.data, cookies[:wme_url], cookies[:wme_language],'pendentes'] do
  %h3.text-center
    = t('unapproved-places')
    .row
      .col-sm-3.col-sm-offset-3.col-md-3.col-md-offset-9.col-lg-3.col-lg-offset-9
        %span.text-right.small= "#{t('updated-at')} #{@atu_pu.data.strftime('%d/%m/%Y %H:%M')}"
    .row
      - @places.order("data_criacao").each do |p|
        %a.btn.btn-sm{ 'style' => "margin-top: 5px;", :class => "#{(Time.now - p.data_criacao) < 172800 ? 'btn-success' : ((Time.now - p.data_criacao) < 1209600 ? 'btn-warning' : 'btn-danger')}", :href => "#{cookies[:wme_url].nil? ? 'https://www.waze.com/' : cookies[:wme_url]}#{cookies[:wme_language].nil? ? 'pt-BR/' : cookies[:wme_language]}editor/?zoom=5\&lat=#{p.latitude}\&lon=#{p.longitude}\&showpur=#{p.id}\&endshow", :target => "WME"}= (p.nome_local.nil? or p.nome_local.strip.empty? ? "[#{t('noname')}]": p.nome_local)
