%script $(document).ready(function(){$(".pu_header").click(function(){$(".pus").toggle();});});
%script $(document).ready(function(){$(".mp_header").click(function(){$(".mps").toggle();});});
- cache [@regiao.cd_geocme,@regiao.urs.count,@atu_ur.data,@atu_pu.data] do
 %div.links
  %a{:href => "/#{@regiao.estado.sigla}"} Estado
  |
  %a{:href => "/"} P&aacute;gina inicial
 %h1{:align => 'center'}= @regiao.estado.nm_estado
 %ul.regiao_atual{:align => 'center'}
  %li
   %span.titulo Regi&atilde;o
   = "#{@regiao.nm_meso}"
 %ul.regioes{:align => "center"}
  - @regiao.microrregioes.order("nm_micro").each do |r|
   %li.regiao
    %a{:href => "/microrregiao/#{r.cd_geocmi}"}= r.nm_micro
 %div{:clear => "both"}
 = render partial: 'dados', locals: {area: @regiao}
