%script $(document).ready(function(){$(".pu_header").click(function(){$(".pus").toggle();});});
%script $(document).ready(function(){$(".mp_header").click(function(){$(".mps").toggle();});});
- cache [@regiao,@atu_ur,@atu_pu] do
 %div.links
  %a{:href => "/#{@regiao.estado.sigla}"} Estado
  |
  %a{:href => "/"} P&aacute;gina inicial
 %h1{:align => 'center'}= @regiao.estado.nm_estado
 %h3{:align => 'center'}= "#{@regiao.nm_meso}"
 %div.regioes{:align => "center"}
  - @regiao.microrregioes.order("nm_micro").each do |r|
   %div.regiao
    %a{:href => "/microrregiao/#{r.cd_geocmi}"}= r.nm_micro
 %div{:clear => "both"}
 = render partial: 'dados', locals: {area: @regiao}