- cache [@places.size, @atu_pu.data] do
 %div.links
  %a{:href => "/"} P&aacute;gina inicial
 %h1{:align => 'center'}
  Locais bloqueados pelo staff
  com atualizações pendentes
 %table{:border => '0', :cellspacing => '1', :cellpadding => '2', :align => 'center'}
  %tr.encerradas
   %th Estado
   %th Cidade
   %th Nome do local
   %th Link no WME
  - @places.order('municipioid').each do |p|
   %tr.encerradas
    %td{:align => 'center'}= p.municipio.microrregiao.regiao.estado.sigla
    %td= p.municipio.nm_municip
    %td= (p.nome_local.nil? or p.nome_local.strip.empty? ? '[Sem nome]': p.nome_local) 
    %td
     %a{:href => "https://www.waze.com/editor/?zoom=5\&lat=#{p.latitude}\&lon=#{p.longitude}\&showpur=#{p.id}\&endshow", :target => "WME"}= "https://www.waze.com/editor/?zoom=5\&lat=#{p.latitude}\&lon=#{p.longitude}\&showpur=#{p.id}\&endshow" 
